<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Mortgage register</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <p class="text-center" style="margin-top: 2rem;">An error occurred when getting/posting data. Please check the API
        and app server logs and restart the servers if necessary. <a href="/issueloan">Click here to return to the bank
            app</a>.</p>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/code.js"></script>
</body>

</html>