<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Mortgage register</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>

    <h1 class="text-center">
        Mortgage register
    </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/issueloan">Issue loan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/readloan/public">Query public loan information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/readloan/private">Query private loan information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/deactivateloan">Deactivate loan</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="loanuid">
                        UID
                    </label>
                    <input type="text" class="form-control" id="loanuid" />
                </div>

                <button type="submit" class="btn btn-success" id="readloanprivate">
                    Query information
                </button>

                <% if (locals.data) { %>
                <h2 style="margin-top: 4rem; text-align: left;">
                    Private loan information
                </h2>
                <ul style="padding: 2rem;">
                    <li class="list-item">
                        LoanUID: <%= locals.data.loanUID %>
                    </li>
                    <li class="list-item">
                        Value: <%= locals.data.loanValue %>
                    </li>
                    <li class="list-item">
                        Currency: <%= locals.data.currency %>
                    </li>
                    <li class="list-item">
                        Interest rate: <%= locals.data.interestRate %>
                    </li>
                </ul>
                <% }; %>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/code.js"></script>
</body>

</html>